@media (max-aspect-ratio: 1/1) {
    html {
        width: 100%;
    }

    main {
        width: 100% !important;
    }

    .vertical-menu {
        display: none;
    }

    #about {
        width: 80vw !important;
    }

    .projects-grid {
        width: 70vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        padding: 1vw;
    }

    #contact {
        display: flex;
        flex-direction: column;
    }

    .contact-container {
        width: 60vw;
    }

    .contact-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-info {
        opacity: 1;
    }
}