@import url("components.css");
@import url("responsive.css");

@font-face {
    font-family: "Aventa";
    src: url("fonts/Aventa-Light.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Medium.woff");
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1419;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.01);
}

main {
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

footer {
    color: rgba(255, 255, 255, 0.05);
    font-family: "Aventa";
    font-size: clamp(1.2vh, 1vw, 1vw);
}

section {
    margin-top: 15vh;
}

#about {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.01)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#projects {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#contact {
    width: max-content;
    height: max-content;
    display: flex;
    gap: 5vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.01)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#links {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}